<div class="container">
  <mat-toolbar>
    <a routerLink=""><span>Finance Tracker</span></a>
    <span class="spacer"></span>
    <button routerLink="/adduser" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>add</mat-icon>
    </button>
    <button routerLink="/users" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon fontIcon="group"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="home">
    <router-outlet></router-outlet>
  </div>
</div>
